.popup {
  position: absolute;
  width: 70%;
  height: auto;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  padding: 5px;
}
.text {
  margin: 10px 5px;
}
.input {
  width: 100%;
  padding-left: 10px;
}
.content {
  height: 70vh;
}
.bottom {
  width: 100%;
  position: relative;
}
.send {
  display: inline-block;
  vertical-align: middle;
}
.bottom-icons {
  position: relative;
  vertical-align: middle;
  display: inline-block;
  padding: 10px;
}
.right-icons {
  position: absolute;
  display: inline-block;
  right: 20px;

}